.tscache
test_meteor_web/packages/mapper
code/*.js
code/*.map
test_meteor_web/packages/omm/*/**/*.js
test_meteor_web/packages/testclasses/*.js
test_meteor_web/tests/**/*.js
.baseDir.ts
*.js.map
node_modules
!/node_modules/omm
npm-debug.log
dist
